# Prometheus Service
# Works on: Local (Docker Desktop) and Production (AWS K3s)
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: payflow
  labels:
    app: prometheus
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9090
      targetPort: 9090
      protocol: TCP
  selector:
    app: prometheus

