apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: payflow
  labels:
    app: kafka
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: broker
  selector:
    app: kafka

